<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/bootstrap.min.css">
        <title>아이템 추가</title>
    </head>
    <body>
        <h1>아이템 추가</h1>
        <hr>
        <form action="/items/add" method="post">
            상품 이름<br><input type="text" name="itemName"><br>
            상품 가격<br><input type="text" name="price"><br>
            상품 수량<br><input type="text" name="quantity"><br>
            <input type="submit" value="저장">
            <input type="button" value="취소" th:onclick="|location.href='@{/items}'|">
        </form>
    </body>
</html>