<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/bootstrap.min.css">
        <title>아이템 정보</title>
    </head>
    <body>
        <h1>아이템 정보</h1>
        <hr>
        <form>
            상품 ID<br><input type="text" name="id" th:value="${item.id}" readonly><br>
            상품 이름<br><input type="text" name="itemName" th:value="${item.itemName}" readonly><br>
            상품 가격<br><input type="text" name="price" th:value="${item.price}" readonly><br>
            상품 수량<br><input type="text" name="quantity" th:value="${item.quantity}" readonly><br>
            <input type="button" value="수정" th:onclick="|location.href='@{/items/{itemId}/update(itemId=${item.id})}'|">
            <input type="button" value="삭제" th:onclick="|location.href='@{/items/{itemId}/delete(itemId=${item.id})}'|">
            <input type="button" value="취소" th:onclick="|location.href='@{/items}'|">
        </form>
    </body>
</html>