<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <title>
        아이템 목록
    </title>
</head>
<body>
    <h1>아이템 목록</h1>
    <hr>
    <input type="button" value="추가하기" th:onclick="|location.href='@{/items/add}'|">
    <input type="button" value="전체삭제" th:onclick="|location.href='@{/items/deleteAll}'|">
    <table>
        <thead>
            <tr>
                <td>id</td>
                <td>이름</td>
                <td>가격</td>
                <td>수량</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="item : ${items}">
                <td><a th:href="@{/items/{itemId}(itemId=${item.id})}" th:text="${item.id}"></a></td>
                <td><a th:href="@{/items/{itemId}(itemId=${item.id})}" th:text="${item.itemName}"></a></td>
                <td th:text="${item.price}"></td>
                <td th:text="${item.quantity}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>